.projectOptions svg{
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 999px;
}

.projectOptions svg:hover {
    cursor: pointer;
    fill: #2098e8;
    background-color:rgba(128, 128, 128, 0.177);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.projectOptions button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectOptions button:hover .tooltip{
    opacity: 1;
    transition: opacity 100ms ease-in-out 150ms;
}

.tooltip{
    position: absolute;
    background: rgba(51, 48, 48);
    padding: 2px 4px;
    border-radius: 5px;
    color: white;
    opacity: 0;
    font-size: small;
    margin-top: 32px;
    pointer-events: none;
}
